<h2>Your Workspace</h2>
<div id='workspace-page'>

  <div id='tabs' class='lt-on-blue'>

    <ul id='project-list'>
      <li class='not-sortable'>
        <h3>Project List</h3>
      </li>

      {{#each projects}}
        <li>
          <a href='#project-{{id}}' class='project-tab'>{{name}}</a>
        </li>
      {{/each}}

      <li class='not-sortable ui-sortable-handle ui-tabs-tab ui-state-default ui-tab ui-corner-left'>
        <button id='new-project-button' class='project-tab not-sortable'>Create new project</button>
      </li>

    </ul>

    <div class='project-workspace project-name'>

      {{#each projects}}
        <div id='project-{{id}}' class='project-workspace'>
          <div class='flex-row'>

            <h3 class='project-name'>{{name}}</h3>

          </div>

          <div class='column-container'>

            {{#each columns}}
              <div id='column-{{id}}' class='column-wrapper br-5'>
                <h4 class='column-name'>{{name}}</h4>
                <ul class='column'>
                  {{#each cards}}
                    <li class='card'>
                      <div id='card-{{id}}' class='card-toggle'>
                        {{! <div class='flex-row'> }}
                        <h5 class='card-name'>{{name}}</h5>
                        {{! <i class='ui-icon ui-icon-pencil'></i> }}
                        {{! </div> }}

                        <div>
                          <p class='card-text'>{{text}}</p>
                        </div>
                      </div>
                    </li>
                  {{/each}}
                </ul>
                <button type='button' class='not-sortable'>Add Card</button>
              </div>
            {{/each}}
            <div class='column-wrapper'>

              <button class='new-column-button'>Add Column</button>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>

<script src='https://code.jquery.com/jquery-3.6.0.js'></script>
<script src='https://code.jquery.com/ui/1.13.0/jquery-ui.js'></script>

<script type='text/javascript' src='/javascript/workspace.js'></script>
<script type='text/javascript' src='/javascript/logout.js'></script>
<script type='text/javascript' src='/javascript/setup.js'></script>
<script type='text/javascript' src='/javascript/project.js'></script>
<script type='text/javascript' src='/javascript/column.js'></script>
<script type='text/javascript' src='/javascript/card.js'></script>