<h2>Your Workspace</h2>
<div id='workspace-page'>

  <div id='tabs' class='lt-on-blue'>

    <ul>
      <li>
        <h3>Project List</h3>

      </li>
      {{#each projects}}
        <li>
          <a href='#project-{{id}}' class='project-tab'>{{name}}</a>
        </li>
      {{/each}}
      <li>
        <a href='#project-new' class='project-tab'>Create new project</a>
      </li>

    </ul>

    <div class='project-workspace'>

      {{#each projects}}
        <div id='project-{{id}}'>
          <div class='flex-row'>
            <h3>{{name}}</h3>
            <div>
              <button>Save Board</button>
              <button>Delete Board</button>
            </div>
          </div>

          <div class='column-container'>

            {{#each columns}}
              <div class='column-wrapper'>
                <h3>{{name}}</h3>
                <ul id='column-{{id}}' class='column'>
                  {{#each cards}}
                    <li class='card'>
                      <div class='card-toggle'>
                        <h3>{{name}}</h3>
                        <div>
                          <p>{{text}}</p>
                          <button class='card-button'>Edit</button>
                          <button class='card-button'>Delete</button>
                        </div>
                      </div>
                    </li>
                  {{/each}}
                </ul>
                <button class='not-sortable'>Add Card</button>
              </div>
            {{/each}}
            <div class='column-wrapper'>

              <button>Add Column</button>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>

<script src='https://code.jquery.com/jquery-3.6.0.js'></script>
<script src='https://code.jquery.com/ui/1.13.0/jquery-ui.js'></script>

<script type='text/javascript' src='/javascript/workspace.js'></script>